<!DOCTYPE html>
<html lang="en-US">
    <head>
    <title>Noooodle King</title>
        <!--Meta-->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!--Page Card for SEO-->
        <meta property="og:title" content="Noooodle King" />
        <meta property="og:description" content="Noooodle King" />
        <meta property="og:url" content="http://www.uiueux.com/demo/art/entry/" />
        <meta property="og:site_name" content="Noooodle King" />
        <meta property="og:image" content="https://www.uiueux.com/demo/art/html5-template/entry/art-cover.jpg" />
    	<meta name="twitter:card" content="Noooodle King" />
        <meta name="twitter:title" content="Noooodle King" />

        <!-- Favicon -->
        <link rel="shortcut icon" href="/static/img/favicon/favicon.ico">
        <link rel="apple-touch-icon-precomposed" href="/static/img/favicon/apple-touch-icon.png">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%7CPoppins%3A300%2C400%7COxygen%3A300%2C400&#038;ver=1.0" rel="stylesheet">

        <!-- Bootstrap CSS -->
        <link rel='stylesheet' href='/static/css/bootstrap.css' type='text/css' media='screen' />

        <!-- Font Icon CSS -->
        <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">

        <!-- Owl Carousel Plugin CSS -->
        <link rel='stylesheet' href='/static/css/owl.carousel.css' type='text/css' media='screen' />

        <!-- Lightbox Plugin CSS -->
        <link rel='stylesheet' href='/static/css/photoswipe.css' type='text/css' media='screen' />

        <!-- Lightbox Plugin Skin CSS -->
        <link rel='stylesheet' href='/static/css/skin/photoswipe/default/default-skin.css' type='text/css' media='screen' />

         <!-- BM builder CSS -->
        <link rel='stylesheet' href='/static/css/modules-style.css' type='text/css' media='screen' />

        <!-- Art Theme Main CSS -->
        <link rel='stylesheet' href='/static/css/style.css' type='text/css' media='screen' />

        <!--Custom style CSS -->
        <link rel="stylesheet" href="/static/css/custom.css" type="text/css" media='screen'>
	
        <!-- IE hack -->
        <!--[if lte IE 9]>
    	<link rel='stylesheet' id='cssie9'  href='/static/css/ie.css' type='text/css' media='screen' />
    	<![endif]-->


	</head>
  
    <body class="post-template-default single single-post single-format-video pswp-dark-skin responsive-ux navi-hide navi-show-h navi-show-icon page_from_top non_bg_header dark-logo header-sticky preload ux-start-hide">
        <div class="wrap-all">

            <!--Page Loading-->
            <div class="page-loading fullscreen-wrap visible">
                <div class="page-loading-inn">
                    <div class="page-loading-transform">
                        <div class="site-loading-logo"><span class="logo-text">Noooodle. King</span></div>
                    </div>
                </div>
            </div>

            <!--Audio Player-->
            <div id="jquery_jplayer" class="jp-jplayer"></div>

            <!--Main wrap-->
            <div id="wrap-outer">

                <!--Header-->
                <header id="header" class="start-from-top">

                    <div id="header-main" class="header-main">
    
                        <div class="container-fluid">
                            
                            <!--Menu Icon-->
                            <span id="navi-trigger" class="navi-trigger middle-ux">
                                <span class="navi-trigger-inn"></span>
                            </span>
                            
                            

                            <div class="head-meta">
                                <!--Social icons-->
                                <div class="header-bar-social">
                                    <ul class="socialmeida clearfix">
                                        <li class="socialmeida-li">
                                            <a title="Bc." href="https://noooodleking.bandcamp.com/" class="socialmeida-a">
                                                <span class="fab fa-bandcamp"></span> 
                                            </a>
                                        </li>
                                                
                                        <li class="socialmeida-li">
                                            <a title="Sc." href="https://soundcloud.com/user-818420293" class="socialmeida-a">
                                                <span class="fab fa-soundcloud"></span> 
                                            </a>
                                        </li> 

                                        <li class="socialmeida-li">
                                            <a title="Sp." href="https://open.spotify.com/artist/2pPjnULm18UP7mWC1RQV3F?si=qRKm4KHFQVewsxbJoa8Xeg" class="socialmeida-a">
                                                <span class="fab fa-spotify"></span> 
                                            </a>
                                        </li> 

                                        <li class="socialmeida-li">
                                            <a title="Am." href="https://music.apple.com/us/artist/noooodle-king/1476605877?uo=4&app=music" class="socialmeida-a">
                                                <span class="fab fa-itunes"></span> 
                                            </a>
                                        </li> 

                                        <li class="socialmeida-li">
                                            <a title="Sp." href="https://www.instagram.com/noooodle_king/" class="socialmeida-a">
                                                <span class="fab fa-instagram"></span> 
                                            </a>
                                        </li> 
                                    </ul>
                                </div><!--End header-bar-social-->

                                <!--Menu-->
                                <nav id="navi-header">
                                    <div id="navi_wrap">
                                        <ul class="menu clearfix">
                                            <li class="menu-item"><a href="/music.html">Music</a></li>
                                            <li class="menu-item"><a href="/instrument.html">Instrument</a></li>
                                            <li class="menu-item"><a href="/about.html">About</a></li>
                                            <li class="menu-item"><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </div><!--End #navi_wrap-->
                                </nav>
                            </div><!--End head-meta-->
             
                            <!--Logo-->
                            <div class="navi-logo">
                                <div class="logo-wrap">
                                    <div id="logo">
                                        <a class="logo-a" href="/" title="Noooodle King">
                                            <span class="logo-text">Noooodle. King</span>
                                        </a>
                                    </div>
                                </div><!--End logo wrap-->
                            </div>
                                    
                        </div>
                        
                    </div><!--End header main-->
                    
                </header>

                <!--Expanded Menu Panel-->
                <div id="menu-panel">

                    <div class="menu-panel-inn fullscreen-wrap">
                     
                        <nav id="navi">

                            <div id="navi-wrap">

                                <ul class="menu clearfix">
                                    <li class="menu-item current-menu-item"><a href="music.html">Music</a></li>
                                    <li class="menu-item"><a href="about.html">About</a></li>
                                    <li class="menu-item"><a href="contact.html">Contact</a></li>
                                </ul>

                            </div><!--End #navi_wrap-->
                        </nav>

                    </div>

                </div><!--End #menu-panel-->

                
    			
                <!-- Main Content Wrap -->
        		<div id="wrap" class="header-bottom-spacing"> 

                    <!-- Main Content : List, text content ... -->
        	        <div id="content">
                        <div class="module-inside clearfix">

                            <div class="text_block_out " data-animationend="fadeined">
                                <div class="text_block withbg fullscreen-wrap" style="background-color: #DB4D6D;">
                                    <div class="text_block_inn">
                                        <div class="text_block_centered text_block_centered_enable_width" style="width:70%;">
                                            <h4 style="line-height: 30px;"><span style="font-size: 26px;"><font color="#63fd9a">Absence - Part of the Native Instruments "NKS Vocal Special" Competition. Scroll down for further information. Hope you like it! </font></span></h4>
                                        </div><!--End text_block_centered-->
                                    </div><!--End text_block_inn-->
                                </div><!--End text_block-->
                            </div><!--End text_block_out-->

                        </div><!--End module-inside-->

                        <div class="content_wrap_outer container-fluid fullwrap-layout">
                
                            <div id="content_wrap" class="">

                                <article class="type-post format-video>

                                    <div class="title-wrap">
                                        <div class="title-wrap-con">
                                            <h1 class="title-wrap-tit">Absence</h1>
                                            <div class="article-meta clearfix">
                                                <span class="article-meta-unit article-meta-date">Release Date: 22.08.2019</span>                  
                                                <span class="article-meta-unit article-meta-unit-cate">
                                                    <a class="article-cate-a">Video Score</a>
                                                </span>
                                            </div><!--End article-meta-->
                                        </div><!--End title-wrap-con-->
                                    </div><!--End title-wrap-->

                                    <div class="videoWrapper video-wrap video-post-wrap viemo " style=" padding-top:56.96335078534%">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/72FswHeqMAs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>

                                    <div class="entry clearfix">

                                        <p>Noooodle King's first video score, it's part of the Native Instruments "NKS Vocal Special" Competition. </p>

                                    </div><!--End entry-->

                                </artivle> 

                            </div><!-- End #content_wrap-->

                        </div><!-- End content_wrap_outer-->

                    </div><!--End #content-->

                </div><!--End #wrap -->

                
    	  
            </div><!--End wrap-outer-->

            <!-- Lightbox -->
            <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

                <div class="pswp__bg"></div>

                <div class="pswp__scroll-wrap">

                    <div class="pswp__container">
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                    </div>

                    <div class="pswp__ui pswp__ui--hidden">

                        <div class="pswp__top-bar">

                            <div class="pswp__counter"></div>
                            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                            <button class="pswp__button pswp__button--share" title="Share"></button>
                            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                            <div class="pswp__preloader">
                                <div class="pswp__preloader__icn">
                                  <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                  </div>
                                </div>
                            </div>
                        </div>

                        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                            <div class="pswp__share-tooltip"></div> 
                        </div>

                        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                        </button>
                        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                        </button>

                        <div class="pswp__caption">
                            <div class="pswp__caption__center"></div>
                        </div>

                    </div>

                </div><!--End pswp__scroll-wrap-->

            </div><!--End pswp-->

        </div><!--End wrap-all-->

        <!-- jQuery Library -->
        <script src='/static/js/library/jquery.min.js'></script>
        <!--jQery Migrate plugin -->
        <script src='/static/js/library/jquery-migrate.min.js'></script>
        <!-- Modernizr -->
        <script src='/static/js/modernizr-custom.js'></script>
        <!-- Waypoints Plugin -->
        <script src='/static/js/jquery.waypoints.min.js'></script>
        <!-- ImageLoaded Plugin-->
        <script src='/static/js/imagesloaded.pkgd.min.js'></script>
        <!-- isotope Plugin -->
        <script src='/static/js/isotope.pkgd.min.js'></script>
        <!-- Packery layout mode -->
        <script src='/static/js/packery-mode.pkgd.min.js'></script>
        <!-- Photoswipe Plugin -->
        <script src='/static/js/photoswipe.min.js'></script>
        <!-- Photoswipe Plugin UI -->
        <script src='/static/js/photoswipe-ui-default.min.js'></script>
        <!-- OWL Carousel Plugin -->
        <script src='/static/js/owl.carousel.min.js'></script>
        <!-- Lazy Load XT Plugin-->
        <script src='/static/js/jquery.lazyloadxt.min.js'></script>
        <!-- Lazy Load XT for Background Image-->
        <script src='/static/js/jquery.lazyloadxt.bg.min.js'></script> 
        <!-- VelocityJS Plugin -->
        <script src='/static/js/velocity.min.js'></script>
        <!-- VelocityJS UI -->
        <script src='/static/js/velocity.ui.min.js'></script>
        <!-- jplayer Plugin -->
        <script src='/static/js/jquery.jplayer.min.js'></script>
        <!-- Modules js-->
        <script src='/static/js/modules-script.js'></script>
        <!-- Theme main js -->
        <script src='/static/js/custom.theme.js'></script>

    </body>
</html>