<!DOCTYPE html>
<html lang="en-US">
    <head>
    <title>Noooodle King</title>
        <!--Meta-->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!--Page Card for SEO-->
        <meta property="og:title" content="Noooodle King" />
        <meta property="og:description" content="Noooodle King" />
        <meta property="og:url" content="http://www.uiueux.com/demo/art/entry/" />
        <meta property="og:site_name" content="Noooodle King" />
        <meta property="og:image" content="https://www.uiueux.com/demo/art/html5-template/entry/art-cover.jpg" />
    	<meta name="twitter:card" content="Noooodle King" />
        <meta name="twitter:title" content="Noooodle King" />

        <!-- Favicon -->
        <link rel="shortcut icon" href="/static/img/favicon/favicon.ico">
        <link rel="apple-touch-icon-precomposed" href="/static/img/favicon/apple-touch-icon.png">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%7CPoppins%3A300%2C400%7COxygen%3A300%2C400&#038;ver=1.0" rel="stylesheet">

        <!-- Bootstrap CSS -->
        <link rel='stylesheet' href='/static/css/bootstrap.css' type='text/css' media='screen' />

        <!-- Font Icon CSS -->
        <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">

        <!-- Owl Carousel Plugin CSS -->
        <link rel='stylesheet' href='/static/css/owl.carousel.css' type='text/css' media='screen' />

        <!-- Lightbox Plugin CSS -->
        <link rel='stylesheet' href='/static/css/photoswipe.css' type='text/css' media='screen' />

        <!-- Lightbox Plugin Skin CSS -->
        <link rel='stylesheet' href='/static/css/skin/photoswipe/default/default-skin.css' type='text/css' media='screen' />

         <!-- BM builder CSS -->
        <link rel='stylesheet' href='/static/css/modules-style.css' type='text/css' media='screen' />

        <!-- Art Theme Main CSS -->
        <link rel='stylesheet' href='/static/css/style.css' type='text/css' media='screen' />

        <!--Custom style CSS -->
        <link rel="stylesheet" href="/static/css/custom.css" type="text/css" media='screen'>
	
        <!-- IE hack -->
        <!--[if lte IE 9]>
    	<link rel='stylesheet' id='cssie9'  href='/static/css/ie.css' type='text/css' media='screen' />
    	<![endif]-->


	</head>
  
    <body class="post-template-default single single-post pswp-dark-skin responsive-ux navi-hide navi-show-h navi-show-icon page_from_top non_bg_header dark-logo header-sticky preload ux-start-hide">
        <div class="wrap-all">

            <!--Page Loading-->
            <div class="page-loading fullscreen-wrap visible">
                <div class="page-loading-inn">
                    <div class="page-loading-transform">
                        <div class="site-loading-logo"><span class="logo-text">Noooodle. King</span></div>
                    </div>
                </div>
            </div>

            <!--Audio Player-->
            <div id="jquery_jplayer" class="jp-jplayer"></div>

            <!--Main wrap-->
            <div id="wrap-outer">

                <!--Header-->
                <header id="header" class="start-from-top">

                    <div id="header-main" class="header-main">
    
                        <div class="container-fluid">
                            
                            <!--Menu Icon-->
                            <span id="navi-trigger" class="navi-trigger middle-ux">
                                <span class="navi-trigger-inn"></span>
                            </span>
                            
                        

                            <div class="head-meta">
                                <!--Social icons-->
                                <div class="header-bar-social">
                                    <ul class="socialmeida clearfix">
                                        <li class="socialmeida-li">
                                            <a title="Bc." href="https://noooodleking.bandcamp.com/" class="socialmeida-a">
                                                <span class="fab fa-bandcamp"></span> 
                                            </a>
                                        </li>
                                                
                                        <li class="socialmeida-li">
                                            <a title="Sc." href="https://soundcloud.com/user-818420293" class="socialmeida-a">
                                                <span class="fab fa-soundcloud"></span> 
                                            </a>
                                        </li> 

                                        <li class="socialmeida-li">
                                            <a title="Sp." href="https://open.spotify.com/artist/2pPjnULm18UP7mWC1RQV3F?si=qRKm4KHFQVewsxbJoa8Xeg" class="socialmeida-a">
                                                <span class="fab fa-spotify"></span> 
                                            </a>
                                        </li> 

                                        <li class="socialmeida-li">
                                            <a title="Am." href="https://music.apple.com/us/artist/noooodle-king/1476605877?uo=4&app=music" class="socialmeida-a">
                                                <span class="fab fa-itunes"></span> 
                                            </a>
                                        </li> 

                                        <li class="socialmeida-li">
                                            <a title="Sp." href="https://www.instagram.com/noooodle_king/" class="socialmeida-a">
                                                <span class="fab fa-instagram"></span> 
                                            </a>
                                        </li> 
                                    </ul>
                                </div><!--End header-bar-social-->

                                <!--Menu-->
                                <nav id="navi-header">
                                    <div id="navi_wrap">
                                        <ul class="menu clearfix">
                                            <li class="menu-item"><a href="/music.html">Music</a></li>
                                            <li class="menu-item"><a href="/instrument.html">Instrument</a></li>
                                            <li class="menu-item"><a href="/about.html">About</a></li>
                                            <li class="menu-item"><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </div><!--End #navi_wrap-->
                                </nav>
                            </div><!--End head-meta-->
             
                            <!--Logo-->
                            <div class="navi-logo">
                                <div class="logo-wrap">
                                    <div id="logo">
                                        <a class="logo-a" href="/" title="Noooodle King">
                                            <span class="logo-text">Noooodle. King</span>
                                        </a>
                                    </div>
                                </div><!--End logo wrap-->
                            </div>
                                    
                        </div>
                        
                    </div><!--End header main-->
                    
                </header>

                <!--Expanded Menu Panel-->
                <div id="menu-panel">

                    <div class="menu-panel-inn fullscreen-wrap">
                     
                        <nav id="navi">

                            <div id="navi-wrap">

                                <ul class="menu clearfix">
                                    <li class="menu-item current-menu-item"><a href="music.html">Music</a></li>
                                    <li class="menu-item"><a href="about.html">About</a></li>
                                    <li class="menu-item"><a href="contact.html">Contact</a></li>
                                </ul>

                            </div><!--End #navi_wrap-->
                        </nav>

                    </div>

                </div><!--End #menu-panel-->

                
    			
                <!-- Main Content Wrap -->
        		<div id="wrap" class="header-bottom-spacing"> 

                    <!-- Main Content : List, text content ... -->
        	        <div id="content">
                        <div class="module-inside clearfix">

                            <div class="text_block_out " data-animationend="fadeined">
                                <div class="text_block withbg fullscreen-wrap" style="background-color: #77428D;">
                                    <div class="text_block_inn">
                                        <div class="text_block_centered text_block_centered_enable_width" style="width:70%;">
                                            <h4 style="line-height: 30px;"><span style="font-size: 26px;"><font color="#63fd9a">Night Museum - Noooodle King's first released track, scorll down for further information.</font></span></h4>
                                        </div><!--End text_block_centered-->
                                    </div><!--End text_block_inn-->
                                </div><!--End text_block-->
                            </div><!--End text_block_out-->

                        </div><!--End module-inside-->

                        <div class="content_wrap_outer container-fluid fullwrap-layout">
                
                            <div id="content_wrap" class="">

                                <article class="type-post format-audio">

                                    <div class="title-wrap">
                                        <div class="title-wrap-con">
                                            <h1 class="title-wrap-tit">Night Museum</h1>
                                            <div class="article-meta clearfix">
                                                <span class="article-meta-unit article-meta-date">Release Date: 17.08.2019</span>                  
                                                <span class="article-meta-unit article-meta-unit-cate">
                                                    <a class="article-cate-a">Single</a>
                                                </span>
                                            </div><!--End article-meta-->
                                        </div><!--End title-wrap-con-->
                                    </div><!--End title-wrap-->

                                    <div class="blog-unit-soundcloud">
                                        <span class="article-meta-unit article-meta-unit-cate">Bandcamp</span>
                                        <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/track=2397728259/size=large/bgcol=ffffff/linkcol=7137dc/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://noooodleking.bandcamp.com/track/night-museum">Night Museum by Noooodle King (怒朵王)</a></iframe>
                                        <span class="article-meta-unit article-meta-unit-cate">Soundcloud</span>
                                        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/639253452&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/user-818420293" title="Noooodle King" target="_blank" style="color: #cccccc; text-decoration: none;">Noooodle King</a> · <a href="https://soundcloud.com/user-818420293/night-museum" title="Night Museum" target="_blank" style="color: #cccccc; text-decoration: none;">Night Museum</a></div>
                                        <span class="article-meta-unit article-meta-unit-cate">Spotify</span>
                                        <iframe src="https://open.spotify.com/embed/track/7llsSglY3GuG0G1Yz1KIKg" width="400" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                                        <span class="article-meta-unit article-meta-unit-cate">Apple Music</span>
                                        <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="150" style="width:100%;max-width:400px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/museum-night/1476606079?i=1476606080"></iframe>
                                    </div><!--End blog-unit-soundcloud-->

                                </artivle> 

                            </div><!-- End #content_wrap-->

                        </div><!-- End content_wrap_outer-->

                    </div><!--End #content-->

                </div><!--End #wrap -->

                
    	  
            </div><!--End wrap-outer-->

            <!-- Lightbox -->
            <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

                <div class="pswp__bg"></div>

                <div class="pswp__scroll-wrap">

                    <div class="pswp__container">
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                    </div>

                    <div class="pswp__ui pswp__ui--hidden">

                        <div class="pswp__top-bar">

                            <div class="pswp__counter"></div>
                            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                            <button class="pswp__button pswp__button--share" title="Share"></button>
                            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                            <div class="pswp__preloader">
                                <div class="pswp__preloader__icn">
                                  <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                  </div>
                                </div>
                            </div>
                        </div>

                        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                            <div class="pswp__share-tooltip"></div> 
                        </div>

                        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                        </button>
                        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                        </button>

                        <div class="pswp__caption">
                            <div class="pswp__caption__center"></div>
                        </div>

                    </div>

                </div><!--End pswp__scroll-wrap-->

            </div><!--End pswp-->

        </div><!--End wrap-all-->

        <!-- jQuery Library -->
        <script src='/static/js/library/jquery.min.js'></script>
        <!--jQery Migrate plugin -->
        <script src='/static/js/library/jquery-migrate.min.js'></script>
        <!-- Modernizr -->
        <script src='/static/js/modernizr-custom.js'></script>
        <!-- Waypoints Plugin -->
        <script src='/static/js/jquery.waypoints.min.js'></script>
        <!-- ImageLoaded Plugin-->
        <script src='/static/js/imagesloaded.pkgd.min.js'></script>
        <!-- isotope Plugin -->
        <script src='/static/js/isotope.pkgd.min.js'></script>
        <!-- Packery layout mode -->
        <script src='/static/js/packery-mode.pkgd.min.js'></script>
        <!-- Photoswipe Plugin -->
        <script src='/static/js/photoswipe.min.js'></script>
        <!-- Photoswipe Plugin UI -->
        <script src='/static/js/photoswipe-ui-default.min.js'></script>
        <!-- OWL Carousel Plugin -->
        <script src='/static/js/owl.carousel.min.js'></script>
        <!-- Lazy Load XT Plugin-->
        <script src='/static/js/jquery.lazyloadxt.min.js'></script>
        <!-- Lazy Load XT for Background Image-->
        <script src='/static/js/jquery.lazyloadxt.bg.min.js'></script> 
        <!-- VelocityJS Plugin -->
        <script src='/static/js/velocity.min.js'></script>
        <!-- VelocityJS UI -->
        <script src='/static/js/velocity.ui.min.js'></script>
        <!-- jplayer Plugin -->
        <script src='/static/js/jquery.jplayer.min.js'></script>
        <!-- Modules js-->
        <script src='/static/js/modules-script.js'></script>
        <!-- Theme main js -->
        <script src='/static/js/custom.theme.js'></script>

    </body>
</html>